.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Formulario login */

.formulario-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  width: 300px;
  margin: 20px auto;
  max-height: 400px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid rgb(52, 41, 92);
  background-color: rgb(104, 94, 148);
  padding: 20px;
}

.formulario-login div {
  margin: 5px;
}

.formulario-login div label {
  font-size: 20px;
}

.formulario-login div input {
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgb(52, 41, 92);
  width: 90%;
}

.login {
  padding: 10px 20px;
  background-color: black;
  color: wheat;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
.login:hover {
 background-color: rgb(24, 92, 50);
}

.boton-reg {
    padding: 10px 20px;
    background-color: black;
    color: wheat;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }

  .boton-reg:hover {
   background-color: rgb(112, 61, 119);
  }

  /* Formulario registro */

  .formulario-register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid rgb(52, 41, 92);
    background-color: rgb(104, 94, 148);
    padding: 20px;
  }

  .formulario-register div {
    margin: 5px;
  }
  
  .formulario-register div label {
    font-size: 20px;
  }
  
  .formulario-register div input {
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(52, 41, 92);
    width: 90%;
  }

  .register {
    padding: 10px 20px;
    background-color: rgb(187, 30, 30);
    color: wheat;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }

  .register:hover {
   background-color: rgb(169, 62, 184);
  }